.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)),
        // TODO check why you cannot import the complete path of the image only the relative path
        url(../img/nat-4.jpg);
        // Skews the section features
        background-size: cover;
        margin-top: -10rem;
        transform: skewY(-7deg);
        // Selects all direct childs of the section features and skews it
        & > * {
            transform: skewY(7deg);
        }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
}

.section-stories {
    // background-color: $color-grey-light-1;
    padding: 15rem 0;
    position: relative;
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book {
    background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 50%, transparent 50%), url(../img/nat-10.jpg);
    background-size: cover;         //you can use 100%
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .3);

    height: 50rem;

    &__form {
        padding: 6rem;
        width: 50%;
    }
}